<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>login</h1>

<p>logined</p>
<p><%= session[:id] %></p>
<!--<form action="/login" method="post">-->
<!--  <input type="email" name="addles" placeholder="addles" />-->
<!--  <input type="password" name="pwd" placeholder="pwd">-->
<!--  <input type="submit">-->
<!--</form>-->
<!--<p>kotti</p>-->
<%#= form_tag("/login") do %>
<!--  email:<input type="email" name="email"></input>-->
<!--  pwd:<input type="password" name="pwd">-->
<!--  <input type="submit" value="login">-->
<%# end %>

</body>
</html>